@import url('http://fonts.cdnfonts.com/css/poppins');
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul li {
    list-style: none;
}

h1,
h1 span,
h2,
h3,
h4,
h5,
h6,
.btn {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #383a59;
}

.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background: bisque;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 0.2rem;
    text-align: center;
    padding: 2rem 0;
    display: none;
}

.meal-details-resevation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background: bisque;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 0.2rem;
    text-align: center;
    padding: 2rem 0;
    display: none;
}

.meal-details::-webkit-scrollbar {
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 2rem;
}

.meal-details-resevation::-webkit-scrollbar {
    width: 10px;
}

.meal-details-resevation::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 2rem;
}

.showComment {
    display: block;
    height: 100%;
    overflow: scroll;
}

.meal-details-content {
    margin: 2rem;
}

.close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-img {
    height: 250px;
    overflow: hidden;
}

.meal-img img {
    width: 100%;
}

.recipe-meal-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

::placeholder {
    font-style: italic;
}

.like-btn {
    cursor: pointer;
}

.navbar {
    background-color: #eeeed6;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #eeeed6;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    font-style: italic;
}

.footer a:hover {
    cursor: pointer;
    font-size: 18px;
}

.recipe-title,
.recipe-instruct h4,
.comment-count,
.addComment,
.recipe-category {
    color: #383a59;
}

.commentBtn {
    margin-bottom: 30px;
}

.showResevation {
    display: block;
    height: 100%;
    overflow: scroll;
}

@media screen and (min-width: 768px) {
    footer {
        font-size: 18px;
    }
}